.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #608fff;
    border-bottom: 1px solid #608fff;
    position: relative;
    min-width: 200px;
}
.wrap::after{
  content: '';
    display: block;
    flex: auto;
    width: 1px;
    background-color: #608fff;
}


.wrap:first-child::before{
  content: "";
  position: absolute;
  top: -1px;
  height: 1px;
  width: 50%;
  background: #282c34;
  display: block;
  left: 0;
  z-index: 0;
}
.wrap:last-child::before{
  content: "";
  position: absolute;
  top: -1px;
  height: 1px;
  width: 50%;
  background: #282c34;
  display: block;
  right: 0;
  z-index: 0;
}
